html {
    scroll-behavior: smooth;
}

body {
    font-size: 1.125rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: var(--text);
    background: var(--white);
}

.nmax {
    font-weight: 1;
    color: gray;
}

@media (min-width:769px) {


    form.form-icon-back {
        top: 112px !important;
        left: 20px !important;
    }



    .left-column img {
        aspect-ratio: 10/16;
        max-width: fit-content;
        height: 540px;
        margin: 0px;
        border: solid none;
        border-radius: 10px;
        float: right;
    }



    .right-column {
        margin-left: 1.5pc;
    }

    .right-column .info {
        font-weight: normal;
        color: var(--text);
    }

    .right-column .info .info-title h6 {
        font-style: oblique;
        height: fit-content;
        padding-top: 4px;
        font-weight: lighter;
        align-self: center;
        margin-left: 1pc;
    }

    .right-column .info .info-title h1 {
        font-weight: 600;
        font-size: 1.5rem;
    }

    .right-column .info .info-release h5 {
        font-weight: 400;
        font-style: oblique;
        width: fit-content;
        margin: 0 10px;
        margin-bottom: 15px;
    }

    .right-column .info .info-release .status {
        margin: 0px;
        font-weight: 600;
        font-style: normal;
        align-self: center;
    }

    .right-column .info .info-release {
        margin-bottom: 10px;
    }

    .info-release>span {
        display: none;
    }

    .right-column .info {
        margin-bottom: 25px;
    }

    .right-column .desc {
        width: 400px;
        color: var(--articletext);
        margin-bottom: 25px;
        border-left: none;
        border-right: none;
    }

    .right-column button {
        border: solid 0px;
        background-color: var(--button);
        color: var(--white);
        height: 60px;
        width: 120px;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    }

    .right-column button:hover,
    .pop-up button:hover {
        background-color: var(--button-hover);
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    }

    .prenotazione {
        border-radius: 10px;
        cursor: pointer;
    }

    .prenotazioneDisabled {
        border-radius: 10px;
        opacity: 0.3;
    }

    .info-title {
        display: flex;
        flex-direction: row;
    }

    .info-release {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 400px;
    }

    .status-container {
        width: 400px;
        display: flex;
        flex-direction: row;
    }

    .status-container h5 {
        margin: 0 5px !important;
    }


    .container {
        margin-top: 14vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 2vh;
    }

    .truncdesc {
        overflow: hidden;
        overflow-y: scroll;
        max-height: 20.25rem;
        min-height: 324px;
    }
}

.trunctitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 350px;
    display: block;
}


.truncdesc::-webkit-scrollbar {
    width: 5px;
}

.truncdesc::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
}

.truncdesc::-webkit-scrollbar-thumb {
    background-color: var(--border);
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .3);
}



@media (max-width:768px) {

    form.form-icon-back {
        top: 86px !important;
        left: -6px !important;
    }

    /* .nav1 form input[type="search"] {
        border: none;
        background: transparent;
        margin: 0;
        padding: 7px 8px;
        font-size: 14px;
        width: 100%;
      }
    
      nav form {
        color: var(--sectiontext);
        display: flex;
        padding: 2px;
        border: 1.5px solid var(--text);
        border-radius: 20px;
        height: 30px;
        margin: 0;
        margin-top: 4px;
        width: 95%;
        justify-content: space-between;
        position: absolute;
        top: 60px;
      } */

    .right-column {
        margin-left: 1pc;
        margin-right: 1pc;
    }

    .left-column {
        justify-content: center;
        display: flex;
        margin-top: 5pc;
        margin-bottom: 2pc;
        margin-right: 5pc;
        margin-left: 5pc;
    }

    .left-column>img {
        box-sizing: border-box;
        width: -webkit-fill-available;
        border-radius: 10px;
        aspect-ratio: 1/1.5;
    }

    .trunctitle {
        font-size: 30px;
        text-align: center;
        width: 100%;
        margin: auto;
    }

    .status,
    .truncdesc {
        text-align: center;
    }

    .info-release {
        justify-content: space-around;
        display: flex;
        margin-bottom: 30px;
    }


    .info-title>h6 {
        text-align: center;
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 12px;
    }

    .info-release>h5 {
        text-align: center;
    }

    .truncdesc {
        margin-bottom: 2pc;
        text-align: justify;
        width: 85vw;
        margin-left: auto;
        margin-right: auto;
    }

    .right-column button {
        border: solid 0px;
        background-color: var(--button);
        color: var(--white);
        height: 60px;
        width: 120px;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
        border-radius: 10px;
        justify-content: center;
    }

    .right-column button:hover,
    .pop-up button:hover {
        background-color: var(--button-hover);
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    }

    .div-button {
        justify-content: center;
        display: flex;
    }

    .div-button>button {
        box-sizing: border-box;
        height: 35px;
        width: 60vw;
    }

    .div-button {
        justify-content: center;
        display: flex;
        margin-bottom: 2pc;
    }
}

@media (max-width:565px) {

    .status-container {
        flex-direction: row;
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }

    .status-container>.status {
        text-align: center;
    }

    .truncdesc {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2pc;
        text-size-adjust: auto;
        justify-content: center;
        display: flex;
    }

    .info-release {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 15px;
    }

    .info-release>span {
        display: none;
    }

    .info-release>h5 {
        margin-bottom: 10px;
        align-items: center;
        display: grid;
    }

    .info-release>h5:nth-last-child(2) {
        display: none;
    }

    .info-release>h5:last-child {
        margin-bottom: 14px;
        font-weight: 700;
        font-size: 1.03rem;
    }

    .trunctitle {
        font-size: 27px;
        margin-bottom: 18px;
        font-weight: bold;
        text-align: center;
        width: 100%;
        margin: auto;
    }

    .div-button>button {
        box-sizing: border-box;
        height: 35px;
        width: 55vw;
    }
}

@media (max-width:450px) {
    .left-column {
        margin-right: 14vw;
        margin-left: 14vw;
    }
}

@media (max-width:350px) {
    .left-column {
        margin-right: 15vw;
        margin-left: 15vw;
    }
}