.pop-up::backdrop {
  background: rgb(0 0 0 / 0.4);
}

.pop-up form {
  display: flex;
  justify-content: space-around;
}

.pop-up button {
  background-color: var(--button);
  color: var(--white);
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.pop-up h4 {
  line-height: 25px;
}

.prenotation-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.prenotation-info span {
  font-size: 16px;
  font-style: oblique;
  font-family: var(--font-family-base);
  color: var(--sectiontext);
}
