* {
    font-family: 'Poppins', sans-serif;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #343a40;
    color: white;
    border-radius: 10px 10px 0 0 !important;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: none;
}

label {
    font-weight: 600;
    color: #495057;
}

.preview-image {
    max-width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #ddd;
}

.delete-icon {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 25px;
    display: none;
    z-index: 10;
}

.form-container {
    border: 2px solid #CCC;
    padding: 10px;
    margin: 20px;
    max-width: 500px;
    margin: 0 auto;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
}

input[type="text"],
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #CCC;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

.textarea_label {
    margin-top: 20px;
}

input[type="submit"] {
    background-color: #4CAF50;
    font-weight: bold;
    color: #FFF;
    border: none;
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3E8E41;
}

.preview-image-container {
    position: relative;
    margin-top: 10px;
    max-width: 300px;
    /* limita la dimensione totale */
}

.preview-image {
    width: 100%;
    max-height: 250px;
    object-fit: contain;
    /* evita tagli e deformazioni */
    border-radius: 8px;
    border: 1px solid #ccc;
}

.delete-icon {
    position: relative;
    top: 5px;
    /* AUMENTA = lo abbassi */
    right: 0px;
    cursor: pointer;
    font-size: 14px;
    opacity: 0.85;
}